// header and nav styles
.blog {
  header {
    background-image: url(../planted-final-assets/blog-header-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    color: $off-white;

    .wrapper {
      display: flex;
      align-items: center;
      padding: 10px 0 0;

      h2 {
        max-width: 300px;
        margin-top: 120px;
      }
    }

    ul {
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
    }

    li {
      margin: 0 15px;
      text-transform: uppercase;

      &:nth-child(1),
      &:hover {
        color: $yellow;
      }

      a:focus {
        color: $yellow;
      }
    }
    nav {
      background-color: black;
    }
  }
  main {
    display: flex;
    justify-content: space-between;
  }
}

// main styles

.about-and-posts {
  max-width: 30%;
  background-color: white;
  margin-top: 100px;
  margin-left: 80px;
  padding: 30px;
  height: 60%;
  display: flex;
  flex-direction: column;

  .img-container {
    min-width: 130%;
    box-shadow: none;
    position: relative;
    top: -50px;
    right: 110px;
  }

  h4 {
    font-size: 1.2rem;
  }

  li {
    line-height: 1.6rem;

    &::before {
      content: "•";
      color: $green;
      font-size: 1rem;
      position: relative;
      right: 12px;
    }
  }

  a {
    padding: 1px;
    font-weight: bold;
    color: $forest-green;
  }
}

.latest-post {
  max-width: 60%;
  border-left: 5px solid $yellow;
  border-bottom: 5px solid $yellow;
  display: flex;
  flex-direction: column;

  .img-container {
    box-shadow: -20px 20px $yellow;
    margin-left: 16px;
    position: relative;
    right: 0;
    top: -200px;
  }

  .text-container {
    max-width: 100%;
    margin-top: -120px;
    padding: 0 120px 20px 50px;
  }

  h3 {
    font-size: 2.15rem;
  }

  p:nth-of-type(1) {
    margin: 2px 0 40px;
    font-style: italic;
    color: $forest-green;
  }

  a {
    padding: 1px;
    font-weight: bold;
  }
}

// aside styles
aside {
  max-width: 60%;
  margin-left: auto;
  padding: 40px 120px 20px 50px;

  h4 {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  input {
    background-color: $off-white;
  }
}

.comment-1,
.comment-2 {
  display: flex;
  margin: 50px 0;

  .text-container {
    margin-left: 30px;
  }

  p {
    margin-top: 20px;
  }

  img {
    max-width: 80px;
    max-height: 80px;
  }
}

ul {
  h5 {
    font-size: 1rem;
    color: $forest-green;
  }
}
