// header and nav styles
.contact {
  position: relative;
  header {
    background-image: url(../planted-final-assets/contact-header-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    color: $off-white;

    .wrapper {
      display: flex;
      align-items: center;
      padding: 10px 0 0;

      h2 {
        max-width: 300px;
        margin-top: 120px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
  }

  li {
    margin: 0 15px;
    text-transform: uppercase;

    &:nth-child(1),
    &:hover {
      color: $yellow;
    }

    a:focus {
      color: $yellow;
    }
  }
  nav {
    background-color: black;
  }
}

// main styles

.contact-information {
  padding: 100px 0;

  p {
    margin: 0;
  }
  p:nth-of-type(1) {
    font-weight: bold;
    font-family: $general-font;
    margin: 15px 0;
  }

  a {
    padding: 8px;

    &:nth-of-type(1) {
      padding-left: 0;
    }
  }
}

// form styles
.contact-form-container {
  background-color: white;
  max-width: 800px;
  padding-top: 60px;
  padding: 50px;
  box-shadow: -20px 20px $yellow;
  position: absolute;
  bottom: 150px;
  right: 60px;
}
