body {
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
}

html {
  font-size: 125%;
  font-family: $text-font;
  color: $black;
}

.wrapper {
  width: 85%;
  max-width: 1260px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 15px;

  &:active {
    color: $yellow;
  }
}

ul {
  list-style: none;
}

i {
  font-family: FontAwesome;
  font-style: normal;
  color: $green;

  &:hover,
  &:focus {
    color: $forest-green;
    transition: 0.3s;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.img-container {
  box-shadow: 20px 20px $yellow;
}

p {
  @include p-style;
}

button {
  @include button-style;
}

main,
aside {
  background-color: $off-white;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  button {
    @include button-style;
    width: 100%;
    margin-top: 50px;
  }

  input[type="text"],
  input[type="email"] {
    width: 48%;
    margin-bottom: 40px;
    border: none;
    border-bottom: 2px solid $green;
    padding: 20px;

    &:active,
    &:focus {
      outline: 2px solid $forest-green;
    }
  }

  textarea {
    width: 100%;
    min-height: 200px;
    padding: 30px 20px;
    border: 2px solid $green;

    &:active,
    &:focus {
      outline: 2px solid $forest-green;
    }
  }
}

footer {
  background-color: $black;
  text-align: center;
  color: white;
  font-family: $text-font;
  padding: 5px 0;

  p {
    margin: 0 auto;
  }
}
