// media query max-width: 1500px
@media (max-width: 1400px) {
  .header-img-2 {
    right: -600px;
    top: -280px;
  }
}

// media query max-width: 1200px
@media (max-width: 1200px) {
  // header styles
  .index {
    header {
      h2 {
        width: min-content;
      }
    }
  }

  .header-img-2 {
    display: none;
  }

  // resources styles (main)
  .resources {
    padding-left: 40px;
  }
}

// media query max-width: 950px
@media (max-width: 950px) {
  html {
    font-size: 100%;
  }

  // header styles
  .index {
    header {
      height: 80vh;

      h2 {
        margin-top: calc(((80vh - 224px) / 2) / 2);
      }
    }
  }

  // about styles
  .about {
    padding: 100px 0 150px;
  }

  // plants and workshops styles
  .plants {
    .text-container {
      margin-left: 50px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .workshops {
    .text-container {
      margin-right: 50px;
      margin-top: 50px;
      margin-bottom: 20px;
    }
  }

  .main-banner {
    height: 320px;
  }
}

// media query max-width: 850px
@media (max-width: 850px) {
  // header styles
  .index {
    h1 {
      margin-top: 30px;
    }
    header {
      h2 {
        font-size: 500%;
        line-height: 5rem;
        margin: 0 auto;
        margin-top: calc(((80vh - 160px) / 2) / 2);
      }

      ul {
        flex-direction: column;
        position: fixed;
        padding-right: 35px;
        right: -150px;
        top: 50px;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 10;
        transition: 0.4s;
      }

      li {
        margin: 15px 0;
        text-align: right;
      }

      input[type="checkbox"]:checked ~ ul {
        right: 0;
      }
    }
  }

  nav span {
    display: in-line;
  }

  input[type="checkbox"] {
    display: inline-block;
    opacity: 0;
    margin-left: auto;
    position: fixed;
    top: 50px;
    right: 50px;
  }

  .menu-icon {
    display: block;
    @include font-size(30);
    color: $yellow;
    position: fixed;
    right: 50px;
    z-index: 10;

    &:hover {
      color: $yellow;
      cursor: pointer;
    }
  }

  .wrapper {
    max-width: 80%; // ***************************************************************************************************************
  }

  // about styles
  .about {
    padding: 60px 0 80px;
  }

  // plants and workshops styles
  .plants-and-workshops {
    display: block;
  }

  .plants,
  .workshops {
    max-width: 100%;

    .text-container {
      text-align: center;
      max-width: 80%;
      margin: 50px auto;
    }

    .img-container {
      margin-right: 20px;
      bottom: 20px;
    }
  }

  .workshops {
    flex-direction: column;

    .text-container {
      margin-top: 70px;
    }

    .img-container {
      position: static;
      margin-left: 20px;
      margin-right: 0;
    }
  }

  // resources styles
  .resources {
    margin: 0 auto;
    h5 {
      &::before {
        @include font-size(16);
        width: 30px;
        height: calc(30px - 8px);
        text-align: center;
        padding-top: 8px;
        border-radius: 50%;
        position: absolute;
        left: -40px;
        bottom: -4px;
      }
    }

    ul {
      flex-direction: column;
      padding: 0;
    }

    li {
      max-width: 100%;
      margin-top: 20px;
    }

    li:nth-child(1) {
      margin-top: 45px;
    }
  }

  .main-banner {
    height: 200px;
  }

  // founder styles
  .founder {
    margin: 80px auto;

    .wrapper {
      flex-direction: column;
      width: 100%;
    }

    .img-container {
      max-width: 280px;
      max-height: 280px;
    }

    .text-container {
      max-width: 100%;
      margin: 0;
      margin-top: 60px;
      text-align: center;
    }
  }

  // gallery styles
  .gallery {
    display: none;
  }

  // footer styles
  footer {
    padding: 0;

    p {
      @include font-size(16);
    }
  }
}

// media query max-width 415px
@media (max-width: 415px) {
  .index {
    header {
      h2 {
        font-size: 400%;
      }
    }
  }
}
