// media query max width: 1300px
@media (max-width: 1300px) {
  .contact {
    // main styles
    main {
      .wrapper {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }

  .contact-information {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .contact-form-container {
    margin: 0 auto;
    position: static;
  }
}

// media query max width: 850px
@media (max-width: 850px) {
  // header styles
  .contact {
    h1 {
      padding: 10px 0;
    }
    header {
      ul {
        flex-direction: column;
        position: fixed;
        padding-right: 15px;
        right: -150px;
        top: 50px;
        background-color: rgba($color: #000000, $alpha: 0.8);
        z-index: 10;
        transition: 0.5s;
      }

      li {
        margin: 15px 0;
        text-align: right;
      }

      input[type="checkbox"] {
        top: 25px;

        &:checked ~ ul {
          right: 0;
        }
      }

      .menu-icon {
        top: 20px;
      }
    }
  }

  // main styles
  .contact-form-container {
    background-color: $off-white;
    box-shadow: none;
    padding: 50px 0;
    max-width: 80%;

    input {
      background-color: $off-white;
    }
  }

  .contact-information {
    padding: 40px 0 50px;
  }
}

// media query max-width: 500px
@media (max-width: 500px) {
  .contact-form-container {
    max-width: 100%;
  }
  form {
    input[type="text"],
    input[type="email"] {
      margin-bottom: 20px;
    }
  }
}
