// colors
$black: #2c2c2c;
$off-white: #f0efed;
$forest-green: #074115;
$yellow: #f8e71c;
$green: #0e902d;

//fonts
$general-font: "Josefin Sans", sans-serif;
$text-font: "Roboto", sans-serif;

// mixins font size
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/20) * 1rem;
}

// mixins typography
@mixin h1-typography {
  @include fontSize(40);
  font-family: $general-font;
  font-weight: normal;
  margin: 0;
}

@mixin h2-typography {
  @include fontSize(80);
  font-family: $general-font;
  color: $yellow;
  font-weight: bold;
  line-height: 4.6rem;
  margin: 0;
}

@mixin h2-typography-index {
  @include fontSize(166);
  font-family: $general-font;
  font-weight: normal;
  font-size: 8.3rem;
  line-height: 7rem;
  margin: 0;
}

@mixin h3-typography {
  @include fontSize(56.3);
  font-family: $general-font;
  font-weight: bold;
  letter-spacing: 0.06rem;
  margin: 0;
}

@mixin h4-typography {
  @include fontSize(43);
  font-family: $general-font;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 0;
}

@mixin h5-typography {
  @include fontSize(32);
  font-family: $general-font;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 0;
}

@mixin p-style {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 25px 0;
}

@mixin button-style {
  cursor: pointer;
  border: none;
  font-family: $general-font;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background-color: $green;
  color: $off-white;
  padding: 10px 30px;

  &:hover,
  &:focus {
    background-color: $forest-green;
    transition: 0.3s;
  }
}
