html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
}

html {
  font-size: 125%;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}

.wrapper {
  width: 85%;
  max-width: 1260px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 15px;
}

ul {
  list-style: none;
}

i {
  font-family: FontAwesome;
  font-style: normal;
  color: #0e902d;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.img-container {
  -webkit-box-shadow: 20px 20px #f8e71c;
          box-shadow: 20px 20px #f8e71c;
}

p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 25px 0;
}

button {
  cursor: pointer;
  border: none;
  font-weight: bold;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background-color: #0e902d;
  color: #f0efed;
  padding: 10px 30px;
}

main,
aside {
  background-color: #f0efed;
}

footer {
  background-color: #2c2c2c;
  text-align: center;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 5px 0;
}
footer p {
  margin: 0 auto;
}

.index {
  position: relative;
}
.index header {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0efed;
  height: 80vh;
}
.index header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}
.index header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
}
.index header li {
  margin: 0 15px;
  text-transform: uppercase;
}
.index header li:nth-child(1) {
  color: #f8e71c;
}
.index header h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 8.3rem;
  margin: 0;
  text-transform: lowercase;
  color: #f8e71c;
  margin: 0 auto;
  margin-top: calc((80vh - 63px - 382px) / 2);
  max-width: 700px;
  z-index: 1;
  position: relative;
}
.index .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

span {
  text-transform: capitalize;
  color: #f0efed;
}

.header-img-2 {
  background-image: url(../planted-final-assets/header-box.jpg);
  background-position: center;
  width: 500px;
  height: 500px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  position: absolute;
  top: 330px;
  right: 0px;
}

.about {
  padding: 180px 0 150px;
}

.about-content {
  margin-top: 20px;
  text-align: center;
}
.about-content h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2.15rem;
  letter-spacing: 0.06rem;
  margin: 0;
  font-size: 2.8rem;
}

.plants-and-workshops {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plants-and-workshops h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin: 0;
}

.plants,
.workshops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 45%;
}

.plants .text-container {
  text-align: right;
  margin: 60px 0 40px;
  margin-left: 100px;
}
.plants .img-container {
  position: relative;
  bottom: 60px;
}

.workshops {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.workshops .img-container {
  -webkit-box-shadow: -20px 20px #f8e71c;
          box-shadow: -20px 20px #f8e71c;
  position: relative;
  top: 40px;
}
.workshops .text-container {
  margin: 100px 0 40px;
  margin-right: 100px;
}

.resources {
  margin: 100px auto 80px;
}
.resources h5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin: 0;
  position: relative;
}
.resources h5::before {
  font-family: FontAwesome;
  color: #2c2c2c;
  background-color: #f8e71c;
  display: inline-block;
  font-size: 1rem;
  width: 50px;
  height: 37px;
  text-align: center;
  padding-top: 13px;
  border-radius: 50%;
  position: absolute;
  left: -70px;
  bottom: -4px;
}
.resources ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.resources li {
  max-width: 46%;
  margin-top: 50px;
}

.green-house::before {
  content: "\f06c";
}

.community::before {
  content: "\f0c0";
}

.blog a {
  padding-left: 0;
}
.blog::before {
  content: "\f15b";
}

.get-in-touch::before {
  content: "\f879";
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.main-banner {
  background-image: url(../planted-final-assets/banner-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 420px;
}

.founder {
  margin: 100px auto;
}
.founder h4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
  margin: 0;
}
.founder .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.founder .img-container {
  max-width: 300px;
  max-height: 300px;
}
.founder .text-container {
  max-width: 60%;
  margin-left: 80px;
}

.gallery {
  background-color: white;
  padding: 100px 0;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}
.gallery li {
  max-width: 30%;
}

.contact-header {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  color: #f0efed;
}
.contact-header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  margin: 0;
}
.contact-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}
.contact-header .wrapper div {
  max-width: 300px;
  margin-top: 250px;
}
.contact-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
}
.contact-header li {
  margin: 0 15px;
  text-transform: uppercase;
}
.contact-header li:nth-child(4) {
  color: #f8e71c;
}
.contact-header nav {
  background-color: black;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  color: #f8e71c;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.6rem;
  margin: 0;
}